<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Employee Home Page
        
        Individual Customer Creation
        <form action="/employee/customer/individual" method="GET">
            <input type="submit">
        </form>
        <br>
        Corporate Customer Creation
        <form action="/employee/customer/corporate" method="GET">
            <input type="submit">
        </form>
        
        
        <br>
        Checking Account Creation
        <form action="/employee/checking_account" method="GET">
            <input type="submit">
        </form>
        
        
        <br>
        Savings Account Creation
        <form action="/employee/savings_account" method="GET">
            <input type="submit">
        </form>

        <br>
        Fixed Deposit Creation
        <form action="/employee/fixed_deposit" method="GET">
            <input type="submit">
        </form>
        
        
        <br>
        Logout:
        
        <form action="/logout" method="POST">
            <input type="submit">
        </form>
    </body>
</html>