<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Individual Customer Creation
        <br>
        <br>
        <br>
    <form action="/employee/customer/individual" method="POST">

        Full Name: <input type="text" id="full_name" name="full_name" required>
        <br>

        Address: <input type="text" id="address" name="address" required>
        <br>

        National ID: <input type="text" id="national_ID" name="national_ID" required>
        <br>

        Date of Birth: <input type="date" id="date_of_birth" name="date_of_birth" max='<%=dob%>' required>
        <br>

        Residential Contact Number:<input type="text" id="residential_contact_no" name="residential_contact_no"
            required>
        <br>

        Private Contact Number: <input type="text" id="personal_contact_no" name="personal_contact_no" required>
        <br>

        Date Joined: <input type="date" id="date_joined" name="date_joined" max='<%=today%>' required>
        <br>

        E-mail Address: <input type="email" id="email" name="email" required>
        <br>

        Password: <input type="password" id="password" name="password" required>
        <br>

        Confirm Password: <input type="password" id="confirm_password" name="confirm_password" required>
        <br>

        <input type="submit">
    </form>

    <form action="/" method="GET">
        <input type="submit" value="Home">
    </form>
    
</body>
</html>