<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap.min.css">
    </head>
    <body>
        <form action="/employee/customer/find_customer_profile" method="POST">
            Please input customer ID: <input type="search" id="customer_id" name="customer_id" required>
            <br>
            Customer Type:
            <br>
            <input type="radio" id="privilege_level" name="privilege_level" value="3" required>Corporate Customer
            <br>
            <input type="radio" id="privilege_level" name="privilege_level" value="4" required>Individual Customer
            <br>
            <input type="submit" value="Search">
        </form>

        <form action="/" method="GET">
            <input type="submit" value="Home">
        </form>
    </body>
</html>