<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/customers/corporate" method="POST">
        Corporate ID: <input type="text" id="corporate_id" name="corporate_id">
        <br>

        Corporate Reg. No.: <input type="text" id="company_registration_number" name="company_registration_number">
        <br>

        Company Name: <input type="text" id="company_name" name="company_name">
        <br>

        Company Email Address: <input type="text" id="company_email_address" name="company_email_address">
        <br>

        Address: <input type="text" id="address" name="address">
        <br>

        Date of Establishment: <input type="date" id="date_of_establishment" name="date_of_establishment">
        <br>

        Contact Number:<input type="text" id="contact_no" name="contact_no">
        <br>

        Date Joined: <input type="date" id="date_joined" name="date_joined">
        <br>

        Correspondent: <input type="text" id="correspondent" name="correspondent">
        <br>

        Correspondent's E-mail Address: <input type="text" id="correspondent_email_address" name="correspondent_email_address">
        <br>

        Password: <input type="text" id="password" name="password">
        <br>

        <input type="submit">
    </form>
    
</body>
</html>