<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>

        <form action="/user" method="POST">
            E-mail Address: <input type="text" id="email" name="email">
            <br>

            Password: <input type="password" id="password" name="password">
            <br>

            Privilege Level:
            <input type="radio" id="privilege_level" name="privilege_level" value="Branch_Manager">
            <label for="Branch_Manager"> Branch Manager</label><br>
            <input type="radio" id="privilege_level" name="privilege_level" value="Employee">
            <label for="Employee"> Employee</label><br>
            <input type="radio" id="privilege_level" name="privilege_level" value="Customer">
            <label for="Customer"> Customer</label><br>

            <input type="submit">
        </form>

    </body>

</html>