<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <h1>Starting Page</h1>
    </head>
    <body>
        <form method = "GET"  action = "/branch_manager/login">
            <input type="submit" value="branch manager">
        </form>
        <br>
        <br>
        <form method="GET" action="/customer/login/corporate">
            <input type="submit" value="corporate">
        </form>
        <br>
        <br>

        <form method="GET" action="/customer/login/individual">
            <input type="submit" value="individual">
        </form>
        <br>
        <br>

        <form method="GET" action="/employee/login">
            <input type="submit" value="employee">
        </form>
        <br>
        <br>
    </body>
</html>