<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/employee_functionalities/customer/individual" method="POST">
        Customer ID: <input type="text" id="individual_id" name="individual_id" readonly>
        <br>

        Full Name: <input type="text" id="full_name" name="full_name">
        <br>

        Address: <input type="text" id="address" name="address">
        <br>

        National ID: <input type="text" id="national_ID" name="national_ID">
        <br>

        Date of Birth: <input type="text" id="date_of_birth" name="date_of_birth">
        <br>

        Residential Contact Number:<input type="text" id="residential_contact_no" name="residential_contact_no">
        <br>

        Private Contact Number: <input type="text" id="personal_contact_no" name="personal_contact_no">
        <br>

        Date Joined: <input type="text" id="date_joined" name="date_joined">
        <br>

        E-mail Address: <input type="text" id="email_address" name="email_address">
        <br>

        <input type="text" id="password" name="password">
        <br>

        <input type="submit">
    </form>
    
</body>
</html>