<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/bootstrap.min.css">
    </head>

    <body class="container-fluid" style="margin-left: 20px;">
        <h2 style="margin-top: 20px; margin-bottom: 20px;">Customer (Corporate) Log In </h2>
        <% if (hasError) {%>
            <%=error%>
        <%}%>
        <form action="/login" method="POST">
            <label for="">E-mail Address:</label>
             <input class="form-control w-25 " type="email" id="email" name="email" required>
            <br>
        <br>
            <label for="">Password:</label>
             <input class="form-control w-25 " type="password" id="password" name="password" required>
            <br>
            <input type="text" id="privilege_level" name="privilege_level" value='3' hidden>
            <input type="submit" class="btn btn-outline-primary" value="Login">
        </form>

    </body>

</html>