<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap.min.css">
    </head>


    <body >     
        
        <header>

            <nav class="navbar navbar-dark bg-dark " >
            
            <a href="#"style="color: white;">
            
            <i class="fas fa-user"></i>
            
            </a>
            
            <a class="navbar-brand ml-3" href="/">Dashboard</a>
                        
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-right: 20px;">
                <li class="nav-item ">
                    <form action="/logout" method="POST">
                        <input type="submit" value="Logout" class="btn btn-outline-info my-2 my-sm-0"> 
                    </form>
                    
                  </li>
                
            </ul>
            
        </div>
            
        </nav>
            
        </header>

        <div class="container">

       
     
       
        <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
            <h4>My Profile</h4>
            <form action="/customer/profile" method="get">
                <input type="submit" class="btn btn-outline-primary" value="View">
            </form>

        </div>

        <div class="row" style="margin-bottom: 30px;">
            <h4>My Accounts</h4>
            <div class="col-3">
                <form action="/customer/account/savings_accounts" method="get">
                    <input type="submit" class="btn btn-outline-primary" value = " Savings Accounts">
                </form>
        
            </div>

            <div class="col-3">
                  
                <form action="/customer/account/checking_accounts" method="get">
                    <input type="submit"class="btn btn-outline-primary"  value=" Checking Accounts">
                </form>

            </div>
            <div class="col-3">
                
                <form action="/customer/account/fixed_deposits" method="get">
                    <input type="submit" class="btn btn-outline-primary" value=" Fixed Deposits">
                </form>
                
            </div>
    
        </div>

        
        <div class="row" style="margin-bottom: 30px;">
            <h4>ATM</h4>
            <div class="col-3">
                <form action="/customer/account/withdraw_money" method="get">
                    <input type="submit" value="Withdraw Money" class="btn btn-outline-primary">
                </form>

            </div>

            <div class="col-3">
                <form action="/customer/account/deposits" method="get">
                    <input type="submit" value="Deposit Money" class="btn btn-outline-primary">
                </form>

            </div>

        
            

        </div>

        <div class="row" style="margin-bottom: 30px;">
            <h4>Money Transfer </h4>

            <div class="col-3">
                <form action="/customer/transfer_money/savings_account" method="get">
                    <input type="submit" value="Money Transfer Savings" class="btn btn-outline-primary" >
                </form>

            </div>

            <div class="col-3">
                <form action="/customer/transfer_money/checking_account" method="get">
                    <input type="submit" value="Money Transfer Checking" class="btn btn-outline-primary" >
                </form>

            </div>
            

        </div>

        <div class="row" style="margin-bottom: 30px;">
            <h4>  Online Loan Application </h4>
            <form action="/customer/loan/online" method="get">
                <input type="submit" value="Apply" class="btn btn-outline-primary">
            </form>


        </div>


        </div>

        
        
    

    

        

    </body>
</html>