<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        Customer Home Page
        <br>
        View Profile Information:

        <form action="/customer/profile" method="get">
            <input type="submit">
        </form>
        <br>

        View Accounts:

        <form action="/customer/account/savings_accounts" method="get">
            <input type="submit" value = "View Savings Accounts">
        </form>

        <form action="/customer/account/checking_accounts" method="get">
            <input type="submit" value="View Checking Accounts">
        </form>

        <form action="/customer/account/fixed_deposits" method="get">
            <input type="submit" value="View Fixed Deposits">
        </form>

        <form action="/customer/account/withdraw_money" method="get">
            <input type="submit" value="ATM">
        </form>

        <br>
        Deposits:
        <form action="/customer/account/deposits" method="get">
            <input type="submit">
        </form>

        <br>
        create Loan:
        <form action="/customer/loan/online" method="get">
            <input type="submit">
        </form>

        <br>
        Transfer money Savings
        <form action="/customer/transfer_money/savings_account" method="get">
            <input type="submit">
        </form>
        <br>

        Transfer money Checking
        <form action="/customer/transfer_money/checking_account" method="get">
            <input type="submit">
        </form>
        <br>
        Logout:

        <form action="/logout" method="POST">
            <input type="submit">
        </form>

    </body>
</html>