<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>
        <h1>Customer (Individual) Log In </h1>
        <% if (hasError) {%>
            <%=error%>
        <%}%>
        <form action="/login" method="POST">
            E-mail Address: <input type="email" id="email" name="email" required>
            <br>

            Password: <input type="password" id="password" name="password" required>
            <br>
            <input type="text" id="privilege_level" name="privilege_level" value='4' hidden>
            <input type="submit">
        </form>

    </body>

</html>