<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Withdraw Money</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <h1>Money Withdrawal Form</h1>
    </head>

    <body>
        <form action="" method="post" id="withdraw">
            <label for="account">Select your Account</label>
            <select class="form-select"  name='account_id' form="withdraw">
                <% for(var j=0; j< accounts.length; j++) {%> 
                <option value="<%=JSON.stringify(accounts[j])  %>"> <%= accounts[j].savings_account_id %>
                </option>
                <% } %>
              </select>
            
            <br>
            <br>
            <label for="amount" >Amount</label>
            <input type="text" id="amount" name="amount" placeholder="0.00" >
            <br>
            <br>
            <input type="submit"  value="Submit">
        </form>

        <form action="/" method="GET">
            <input type="submit" value="Home">
        </form>
        
    </body>
</html>